*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif; 
  background-color: rgb(241, 241, 241);
  height: 1000px;

}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  margin-bottom: 50px;
}



@media (max-width: 500px){
  .nav-bar {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .links {
    font-size: 0.8rem;
  }


  .logo {
    width: 20px;
    height: 20px;
    
  }
}

.list-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.logo  {
  width: 50px;
  height: 50px;
  cursor: pointer;  
}


.links {
  font-size: 1.4rem;
  text-decoration: none;
  color:#01579b;
  cursor: pointer;
  font-weight: 600;
  transition: 0.18s ease;

}
.links:focus {
  color: rgb(55, 171, 249);
}
.links:hover, .links.active {
  color: #01589be9;
  border-bottom: 3px solid #01589be9;
} 

.hero {
  display: flex;
  justify-content: space-between;
  padding-right: 6rem;
  padding-left: 6rem;
  align-items: center;
  gap: 2rem;
  margin-bottom: 100px;
}

.hero-text {
  flex: 5;
}

.headshot {
  display: flex;
  justify-content: left;
  width: 300px;
  border-radius: 60px;
  flex: 2;
  box-shadow: -10px 10px 1px #143D60;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  color: #143D60;
}

.who {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.profession {
  color: #27667B;
  font-size: 0.9rem;
}
.my-socials {
  display: flex;
  gap: 1rem;
}

.social-icons {
  margin-top: 1rem;
  height: 2.5rem;
  transition: 0.6s ease;

}
.social-icons:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
@media (max-width: 860px){
  .headshot{
    width: 250px;
    height: auto;
  }
  .name {
    font-size: 1.8rem;
  }
  .who {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }
  .hero {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .profession {
    color: #27667B;
    font-size: 0.7rem;
  }

  .nav-bar {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .links {
    font-size: 1rem;
  }

  .list-contain {
    gap: 0.6rem;
  }

  .logo {
    width: 40px;
    height: 40px;
    
  }

  

  .social-icons {
    height: 2.5rem;
  }

  .my-socials {
    justify-content: center;
  }

}
@media (max-width: 702px) {
  .hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;

  }
  .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

/* About Section */

.headers {
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 600;
  display: inline-block;
  color: rgb(100, 193, 255);
  margin-bottom: 1rem;
}

.qualification-type {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  
}

.date {
  font-size: 1rem;
  white-space: nowrap;
}
.about-icons {
  height: 1rem;
  vertical-align: middle;
}
.text-icon {
  margin-bottom: 0.6rem;
}
.location {
  display: inline;
}

.school {
  display: inline;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fff;
  padding-right: 6rem;
  padding-left: 4rem;
  padding-top: 4rem;
}

.date-qualification {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.6rem;
  gap: 5rem;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
  margin-bottom: 2.5rem;
  
}
.education {
  font-size: 1.8rem;
  color: #143D60;
  margin-bottom: 1.25rem;
}
.about-paragraph {
  margin-bottom: 3rem;
}


/* Skills Section */
.horizontal-rule {
  width: 1rem;
  border: 0.5rem solid #01579b;
  align-content: center;
  margin: 0 auto;
}
.skills-section {
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
 .skills-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(100, 193, 255);
  margin-bottom: 1rem;
}
.portfolio-paragraph {
  text-align: center;
}
.cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 0rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #143D60;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
/*
.section:nth-child(even){
  background-color: #01579b;
  
}
  */
/* Project Section */

.project-section {
  padding-top: 4rem;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-bottom: 100px;
}
.project-btn {
  background-color: #01579b;
  color: #fff;
  padding-left: 0.6rem;
  padding-bottom: 0.4rem;
  padding-right: 0.6rem;
  padding-top: 0.4rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}


.project-catalog {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:25px;
  margin-top: 50px;

}
.project-card {
  width: 20.3rem;
  border-radius: 10px;
  background-color: #f4f4f4;
  height: 440px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 1rem;
  transition: 0.6s ease;
}
.project-card:hover {
  transform: translateY(-16px);
}
.project-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.project-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.8rem;

}

.project-text {
  font-size: 0.8rem;
  color: #000;
}

.btn-open {
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  background-color: #4caf50;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
 
}

.project-description {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  
}




