*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif; 
  background-color: rgb(241, 241, 241);
  height: 1000px;

}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  margin-bottom: 60px;
}



@media (max-width: 500px){
  .nav-bar {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .links {
    font-size: 0.8rem;
  }


  .logo {
    width: 20px;
    height: 20px;
    
  }
}

.list-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  
}

.links {
  font-size: 1.4rem;
  text-decoration: none;
  color:#01579b;
  cursor: pointer;
  font-weight: 600;
  transition: 0.18s ease;

}
.links:focus {
  color: rgb(55, 171, 249);
}
.links:hover, .links.active {
  color: #01589be9;
  border-bottom: 3px solid #01589be9;
} 

.hero {
  display: flex;
  justify-content: space-between;
  padding-right: 6rem;
  padding-left: 6rem;
  align-items: center;
  gap: 2rem;
  margin-bottom: 100px;
}

.hero-text {
  flex: 5;
}

.headshot {
  display: flex;
  justify-content: left;
  width: 300px;
  border-radius: 60px;
  flex: 2;
  box-shadow: -10px 10px 1px #143D60;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  color: #143D60;
}

.who {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.profession {
  color: #27667B;
  font-size: 0.9rem;
}

@media (max-width: 860px){
  .headshot{
    width: 250px;
    height: auto;
  }
  .name {
    font-size: 1.8rem;
  }
  .who {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }
  .hero {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .profession {
    color: #27667B;
    font-size: 0.7rem;
  }

  .nav-bar {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .links {
    font-size: 1rem;
  }

  .list-contain {
    gap: 0.6rem;
  }

  .logo {
    width: 40px;
    height: 40px;
    
  }

}
@media (max-width: 702px) {
  .hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
  .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.headers {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(100, 193, 255);
}
.about  {
  display: flex;
  justify-content:space-around;
  background-color: #fff;
  color: #000;
  gap: 8rem;
  padding-top: 4rem;
  padding-right: 6rem;
  padding-left: 6rem;



}
.section-paragrah {
  font-size: 1rem;
}
.timeline {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.icon {
  width: 30px;
  width: 30px;
}

/* Skills Section */

.skills-section {
  background-color: #fff;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
 .skills-header {
  padding-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(100, 193, 255);
  margin-bottom: 1rem;
}
.portfolio-paragraph {
  text-align: center;
}
.cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 0rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #143D60;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
/*
.section:nth-child(even){
  background-color: #01579b;
  
}
  */
/* Project Section */

.project-section {
  padding-top: 6rem;
  padding-right: 6rem;
  padding-left: 6rem;
  margin-bottom: 100px;
}
.project-btn {
  display: inline-block;
  background-color: #01579b;
  color: #fff;
  padding-left: 0.6rem;
  padding-bottom: 0.4rem;
  padding-right: 0.6rem;
  padding-top: 0.4rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}


.project-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.project-cell {
  border-radius: 20px;
  background-color: #fff;
  width: 45%;
  box-shadow: 10px 10px 0 #143D60;

}
.project-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.project-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;

}

.project-text {
  font-size: 0.8rem;
  color: #000;
}

.btn-open {
  padding-top: 5px;
  color: #fff;
  background-color: #4caf50;
  padding-top: 8px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  font-size: 1rem;
}

.project-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;

}
.project-description {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  
}




